################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Aubergine/v15
/Application/obj/Debug
/Aubergine/obj/Debug
/Aubergine.sln
