################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Aubergine/v15
/Application/obj/Debug
/Aubergine/obj/Debug
/.vs
/Application/.vs/Application/v15
/Application/obj/Release/Application.csproj.CoreCompileInputs.cache
/Aubergine/.vs/Aubergine/v15/Server/sqlite3
/Aubergine/.vs/Aubergine/v15
/Aubergine/obj/Release
/Game/bin/Debug
/Game/obj/Debug
/Aubergine/bin/Debug
/packages/System.Collections.Immutable.1.5.0
/Aubergine/bin/Debug/nunit.framework.xml
/Aubergine/bin/Debug/nunit.framework.pdb
/Aubergine/bin/Debug/nunit.framework.dll
/Aubergine/bin/Debug/FakeItEasy.xml
/Aubergine/bin/Debug/FakeItEasy.pdb
/Aubergine/bin/Debug/FakeItEasy.dll
/Aubergine/bin/Debug/Aubergine.pdb
/Aubergine/bin/Debug/Aubergine.dll
/Game/bin/Debug/nunit.framework.xml
/Game/bin/Debug/nunit.framework.pdb
/Game/bin/Debug/nunit.framework.dll
/Game/bin/Debug/Game.pdb
/Game/bin/Debug/Game.exe.config
/Game/bin/Debug/Game.exe
/Game/bin/Debug/FakeItEasy.xml
/Game/bin/Debug/FakeItEasy.pdb
/Game/bin/Debug/FakeItEasy.dll
/Game/bin/Debug/Aubergine.pdb
/Game/bin/Debug/Aubergine.dll
/Game/obj/Debug
/packages
/Aubergine/bin/Release
/Game/bin/Release
/Game/obj/Release
